*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
}

body{
    background-color: rgb(185, 185, 185);
}

.container{
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    display: flex;
}

.container, .form-group{
    margin-left: 8px;
    /* align-items: center; */
}

h1{
    text-align: center;
}

.form-group{
    margin-bottom: 8px;
}
.form-control{
    width: 300px;
    height: 30px;
}

.footer{
    display: flex;
}

.one{
    color: white;
    background-color: #f6741d;
    height: 200px;
    flex: 1;
    justify-content: space-around;
    align-items: center;
}

.action{
    display: flex;
    margin: 10px;
}

.message-box{
    width: 300px;
}

.action{
    display: flex;
}

.action button{
    height: 30px;
    width: 80px;
    flex-shrink: 0;
    border-radius: 5px;
    margin-left: 250px;
    justify-content: space-around;
}